<!DOCTYPE html>
<html lang="en">

<body>
        <p><a href="/">Home</a></p>
    <h1>This is the Details Page</h1>
        <ul>
            <% taskDetail.forEach( task => { %>
                <li>Task: <%= task.task %></li>
                <li>Description: <%= task.description%></li>
                <li>Status: <%= task.status === true ? 'Complete' : 'Incomplete' %></li>
                <li>Category: <%= task.category%></li>
            <% }) %>
        </ul>
</body>
</html>